body {
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
}

.outer-container {
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    margin: 70px auto 70px auto;
    border-radius: 15px;
    position: relative;
}

.image-container {
    width: 90%;
    margin: 0 auto 0 auto;
}

.image-1 {
    border-radius: 5%;
    width: 100%;
    margin-top: 10px;
}

.paragraph-1 {
    width: 80%;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin: 0 auto 0 auto;
    color: hsl(218, 44%, 22%);
}

.paragraph-2 {
    width: 80%;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    color: hsl(220, 15%, 55%);
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 600px) {
      body {
          font-size: 10px;
      }

      .paragraph-1 {
          font-size: 10px;
      }

      .paragraph-2 {
          font-size: 10px;
      }

      .outer-container {
          width: 30%;
      }
  }